html{
    overflow-x: hidden;
}
body{
    margin:0;
    font-family: 'Roboto', sans-serif;
    overflow:auto;
    overflow-x: hidden;
}
.liennorm{
    text-decoration:none;
    transition: all .7s;
    color:black;
    border-bottom: solid 3px #85baff;
}
.liennorm:hover{
    text-decoration:none;
    background-color: #85baff;

}
.parallax {
    /* The image used */
    background-image: url("../image/escaladeaccueil.jpg");
    z-index: -1;
    /* Set a specific height */
    min-height: 700px;


    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#entetesup{
    background-color:#E74C3C;
    position:relative;
    display:inline-flex;
    width:100%;
    height:75px;
    color:white;
}
#accroche {
    position:relative;
    margin-left:150px;
    width:47%;
    border:black  ;
    display:inline-block;
    margin-top:12px;
    text-align:right;
    font-size:41px ;
}
blockquote {
    padding: 20px 25px 20px 90px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    position: relative;
    line-height: 1.3;
}
blockquote::before {
    content: "”";
    width: 90px;
    font-size: 72px;
    line-height: 72px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    color: rgb(238, 50, 36);
    position: absolute;
    top: 20px;
    left: 0;
}
#description{
    color:black;
    width:27%;
    border:white solid 3px ;
    margin-top: 50px;
    text-align:center;
    font-size:20px;
    margin-right:10px;
    background-color: white;
}
#logo{
    position:relative;
    width:5.5%;
    border:black ;
    display:inline-block;
}
#logo img{
    height:100%;
    width: 75%;
}
nav{
	position:relative;
	z-index:1;
}

.wifeo_pagemenu > a{
	color:#FFFFFF;
	text-decoration:none
}

 .wifeo_pagemenu:hover > a{
	color:#FFFFFF;
	text-decoration:none;
}

.wifeo_rubrique > a{
	color:#FFFFFF;
    text-decoration:none;
    font-size: 18px;
}

.wifeo_rubrique:hover > a{
	color:#FFFFFF;
	text-decoration:none
}

@-webkit-keyframes slider {
	0%, 20%, 100%	{ left: 0 }
	25%, 45%		{ left: -100% }
	50%, 70%		{ left: -200% }
	75%, 95%		{ left: -300% }
}
@-moz-keyframes slider {
	0%, 20%, 100%	{ left: 0 }
	25%, 45%		{ left: -100% }
	50%, 70%		{ left: -200% }
	75%, 95%		{ left: -300% }
} 
@keyframes slider {
	0%, 20%, 100%	{ left: 0 }
	25%, 45%		{ left: -100% }
	50%, 70%		{ left: -200% }
	75%, 95%		{ left: -300% }
}
.wifeo_pagesousmenu > a{
	color:#FFFFFF;
	text-decoration:none
} 

.wifeo_conteneur_menu{
	border-spacing:0;
} 

.wifeo_conteneur_menu{
	width:101%;
	display:table;
}

.wifeo_conteneur_menu a{
	text-decoration:none;
	width:100%;
	display:table-cell;
	vertical-align:middle;
	height:50px;
	text-align:center;
	-webkit-transition:all 0.25s ease;
	-moz-transition:all 0.25s ease;
	-ms-transition:all 0.25s ease;
	-o-transition:all 0.25s ease;
	transition:all 0.25s ease;
}

.wifeo_pagemenu a:hover{
	height:100px;
	background-color:#C4342D;
}

.wifeo_pagemenu, .wifeo_rubrique{
	background-color:#E74C3C;
	float:left;
	position:relative;
	width:16.666%;
	text-align:center;
    display:table;
    height: 58px;
    line-height: 58px;
}


.wifeo_sousmenu{
	left:0;
	opacity:0;
	top:0;
	position:absolute;
	visibility:hidden;
	z-index:-10;
	right:0;
}

.wifeo_rubrique:hover .wifeo_sousmenu{
	opacity:1;
	background-color:#C4342D;
	visibility:visible;
	top:50px;
}

.wifeo_pagesousmenu, .wifeo_pagesousmenu:hover{
	width:100%;
	height:50px;
	display:table;
	vertical-align:middle;
	text-align:center
}

.wifeo_pagesousmenu:hover{
	background-color:#AB0606;
}

@media screen and (min-device-width:1024px){
	.wifeo_sousmenu{
		-webkit-transition:all 0.25s ease;
		-moz-transition:all 0.25s ease;
		-ms-transition:all 0.25s ease;
		-o-transition:all 0.25s ease;
		transition:all 0.25s ease;
	}
}

.wifeo_rubriquee > a{
	color:#FFFFFF;
    text-decoration:none;
    font-size: 18px;
}

.wifeo_rubriquee:hover > a{
	color:#FFFFFF;
	text-decoration:none
}
.wifeo_rubriquee{
	background-color:#E74C3C;
	float:left;
	position:relative;
	width:16.6666666%;
	text-align:center;
    display:table;
    height: 58px;
    line-height: 58px;
}
.wifeo_rubriquee:hover{
	background-color:#C4342D;
}
.wifeo_conteneur_menu{
	position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.wifeo_conteneur_menu:before, .wifeo_conteneur_menu:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.wifeo_conteneur_menu:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}
.image {
    width: 100%;
    height: 100%;
    }
.image img {
    /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* Internet Explorer 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
    }
    .image:hover img {
    /* L'image est grossie de 5% */
    -webkit-transform:scale(1.05); /* Safari et Chrome */
    -moz-transform:scale(1.05); /* Firefox */
    -ms-transform:scale(1.05); /* Internet Explorer 9 */
    -o-transform:scale(1.05); /* Opera */
    transform:scale(1.05);
    }
.sectionapropos{
    position:relative;
    display:inline-flex;
    max-height: 460px;
}
.traitapropos{
    border-top: 5px solid #000000;
    width : 25px;
    margin-top:12px;
    margin-bottom: 12px;
    margin-left:3px;
}

.apropos{
    position:relative;
    width:50%;
    border:black ;
    display:inline-block;
}
.textapropos{
    padding-left:25%;
    line-height: 45px;
   }
.apropos1{
    position:relative;
    margin-left: 0;
    width:50%;
    border:black ;
    display:inline-block;
}
.apropos1 img {
    width:100%;
    height:100%;
}
p.enteteapropos{
    font-weight: bold;
    font-size: 35px;
}
div .savoirplus {
   margin-bottom: 0;
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #ffffff;
    font: normal 16px/normal "helvetica", sans-serif;
    color: rgba(255,255,255,0.9);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #000000;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.66);
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}
div .savoirplus:hover {
    padding: 2px 20px 10px;
    background: rgb(0, 0, 0);
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,1) ;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,1) ;
    text-shadow: -1px -1px 0 rgba(0,0,0,1) ;
    -webkit-transition: all 265ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all 265ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all 265ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 265ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transform: rotateX(17.188733853924695deg) rotateY(0.5729577951308231deg)   ;
    transform: rotateX(17.188733853924695deg) rotateY(0.5729577951308231deg)   ;
}
div .savoirplus:active {
    padding: 10px 20px;
    background: #0199d9;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.66);
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-transform: none;
    transform: none;
}
footer{
    position:relative;
    display:inline-flex;
    background-color: rgba(35, 35, 35, 1);
    height:400px;
    width: 100%;
    bottom: 0;
    margin-bottom: 0;
}
footer #footer1{
    margin-left: 21px;
    border:black  ;
    display:inline-block;
    margin-top:24px;
    text-align:left;
    width: 20%;
}
footer #footer2 {
    margin-left: -1cm;
    width:47%;
    border:black  ;
    display:inline-block;
    text-align:right;
}
footer #footer3 {
    position:relative;
    margin-right: 0;
    width:47%;
    border:black  ;
    display:inline-block;
    margin-top:37px;
    text-align:right;
}
.reseaux img{
    height:40%;
    margin:15px 15px 15px 0;
}
.share img{
    height:150%;
    margin:-30px 0 -15px 15px;
}
.traitfooter{
    border-top: 3px solid #e82448;
    width : 15px;
    margin-top:12px;
    margin-bottom: 12px;
    margin-left:3px;
}
.traitfooter1{
    border-top: 3px solid #e82448;
    width : 15px;
    margin-top:-37px;
    margin-bottom: 10px;
    margin-left:3px;
}
.lienfooter{
    text-decoration:none;
    width:100%;
    display:table-cell;
    vertical-align:middle;
    height:30px;
    text-align:center;
    z-index: 1;
    color:white;
}
.lienfooter:hover{
    height:30px;
    background-color:#C4342D;
}
.lienfooter1{
    display: inline-flex;
}
.reseaux{
    margin-left:20px;
    display: inline-flex;
    margin-top: -21px;
}
div .share{
    margin-top: -10px;
    display: inline-flex;
    color:white;
}
#copright{
    text-align:center;
    width:100%;
    color:white;
    margin-top:361px;
    margin-left: -218px;
}
#scrollUp
{
    position: fixed;
    bottom : 10px;
    opacity: 0.5;
    right:20px;

}
@media screen and (min-width:1024px){ /*ordinateur*/
    .bodyindex{
        font-size:21px;
    }
    .wifeo_sousmenu{
        -webkit-transition:all 0.25s ease;
        -moz-transition:all 0.25s ease;
        -ms-transition:all 0.25s ease;
        -o-transition:all 0.25s ease;
        transition:all 0.25s ease;
        z-index:-10;
    }
    .succes{
        display:none;
    }
    .texttel{
        display:none;
    }

    #burger,#logo2,.lientel {
        display: none;
    }

}
@media screen and (max-width:767px) {/*telephone*/
    #sidebarMenu  {
        line-height: 1px;
    }
    #logo2{
        margin-left:90%;
    }
    #entetesup{
        height:53px;
        z-index: 1;
    }
    .container {
        display: inline-block;
        cursor: pointer;
        margin-top:9px;
        z-index: 10;
    }
    .sectionapropos{max-height: 10000px;}
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }
    .change .bar2 {opacity: 0;}

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
    #navbar, #accroche, #description,#copright,#logo1,#scrollUp,#credit {
        display:none;
    }
    #burger{
        z-index: 10;
    }
    .apropos ,.apropos1{
        display: inline-block;
        width:101%;
        text-align: left;
        margin-top:0;
        margin-bottom:0;
        border:0;
        z-index: -10;
    }
    .apropos{
        margin-left:-50px;
    }
    .sectionapropos{
        display: inline-block;
        border:none;
    }
    .parallax{
        background-image: url("../image/escaladeaccueilv.jpg");
        width: 100%;
    }
    .texttel{
        display: inline-block;
        position: relative;
        top: 32%;
        left:50%;
        font-size:117% ;
        width:100%;
        transform: translate(-50%, -50%);
        text-align: center;
        white-space: nowrap;
    }
    .succes{
        position: absolute;
        font-size:50px ;
        top: 40%;
        left:50%;
        transform: translate(-50%, -50%);
        width:100%;
        text-align:center;
        font-weight: bold;
    }
    html, body {
        overflow-x: hidden;
        height: 100%;
    }
    body {
        background: #fff;
        padding: 0;
        margin: 0;
        font-family: 'Varela Round', sans-serif;
    }
    .header {
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 100%;
        box-shadow: none;
        background:none;
        position: fixed;
        height: 60px!important;
        overflow: hidden;
        z-index: 10;
    }
    .main {
        margin: 0 auto;
        display: block;
        height: 100%;
        margin-top: 60px;
    }
    .mainInner{
        display: table;
        height: 100%;
        width: 100%;
        text-align: center;
    }
    .mainInner div{
        display:table-cell;
        vertical-align: middle;
        font-size: 3em;
        font-weight: bold;
        letter-spacing: 1.25px;
    }
    #sidebarMenu {
        position: fixed;
        left: 0;
        width: 250px;
        margin-top: -5px;
        transform: translateX(-250px);
        transition: transform 250ms ease-in-out;
        background: #E74C3C;
        z-index: 1;
    }
    .sidebarMenuInner li:hover{
        background-color:#C4342D;
    }
    .sidebarMenuInner{

        padding:0;
        border-top: 1px solid rgba(255, 255, 255, 0.10);

    }
    .sidebarMenuInner li{
        list-style: none;
        color: #fff;
        padding: 20px;
        cursor: pointer;
        border-bottom: 1px solid rgba(255, 255, 255, 0.10);
        margin-top: 0;
    }
    .sidebarMenuInner li span{
        display: block;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.50);
    }
    .sidebarMenuInner li a{
        color: #fff;
        cursor: pointer;
        text-decoration: none;
    }
    input[type="checkbox"]:checked ~ #sidebarMenu {
        transform: translateX(0);
    }

    input[type=checkbox] {
        transition: all 0.3s;
        box-sizing: border-box;
        display: none;
    }
    .sidebarIconToggle {
        transition: all 0.3s;
        box-sizing: border-box;
        cursor: pointer;
        position: absolute;
        z-index: 99;
        height: 100%;
        width: 100%;
        top: 22px;
        left: 15px;
        height: 22px;
        width: 22px;
    }
    .spinner {
        transition: all 0.3s;
        box-sizing: border-box;
        position: absolute;
        height: 3px;
        width: 100%;
        background-color: #fff;
    }
    .horizontal {
        transition: all 0.3s;
        box-sizing: border-box;
        position: relative;
        float: left;
        margin-top: 3px;
    }
    .diagonal.part-1 {
        position: relative;
        transition: all 0.3s;
        box-sizing: border-box;
        float: left;
    }
    .diagonal.part-2 {
        transition: all 0.3s;
        box-sizing: border-box;
        position: relative;
        float: left;
        margin-top: 3px;
    }
    input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
        transition: all 0.3s;
        box-sizing: border-box;
        opacity: 0;
    }
    input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
        transition: all 0.3s;
        box-sizing: border-box;
        transform: rotate(135deg);
        margin-top: 8px;
    }
    input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
        transition: all 0.3s;
        box-sizing: border-box;
        transform: rotate(-135deg);
        margin-top: -9px;
    }
    #entetesup{
        position: fixed;
    }
}
@media screen and (min-width:768px) and (max-width: 1023px) {/*tablette*/
    #description {
        display: none;
    }
    #logo {
        width: 100%;
    }
    #entetesup{
        display:none;
    }
    .textapropos{
        margin-left:-50px;
    }
    #burger,.lientel{
        display:none;
    }
    .longtext{
        width: 20%;
    }
    .courtext{
        width: 15%;
    }
}
li video iframe{
    text-align: center;
    max-width: 300px;
}
.button {

    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #018dc4;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: normal 16px/normal  sans-serif;
    color: rgba(255,255,255,0.9);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgb(25,25,25);
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    margin-bottom: 15px;
}

.button:hover {
    background: #0199d9;
}

.button:active {
    background: #020f14;
}



#menu ul {
    margin:0;
    padding:0;
    list-style-type:none;
    text-align:center;
    }
 
   #menu li a {
    display:block;
    width:100px;
    color:white;
    text-decoration:none;
    padding:5px;
    }
   #menu li a:hover {
    color:#FFD700;
    }

    #menu  li ul li {
        display:none;
        }
        * {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}

.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {

    max-width: 1000px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 13%;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    font-size: 37px;
    color:white;
    padding: 8px 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-left: 7%;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}
.titrerubrique{
    text-align: center;
}